.deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 90px 270px;
  /* grid-gap: 0.9rem; */
  grid-column-gap: 0.9rem;
}
.deals-header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  display: block;
}

@media screen and (max-width: 768px) {
  .hide2 {
    display: none;
  }
}
